@import "../../assets/global-styles/global-styles";

#log-in-page {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    a {
        padding: 0.5rem 1rem;
        margin-top: 1rem;
        background: $primary-light;
        border-radius: 10rem;
        color: $on-primary;
        font-weight: 700;
    }
}