// Breakpoints
// 600px and DOWN: phones
// 600px and UP: portrait tablets and large phones
// 768px and up: landscape tablets
// 992px and up: laptops/desktops
// 1200px and up: large laptops and desktops

// Colors
$primary-gradient: linear-gradient(rgb(226, 94, 62), rgb(255, 155, 80));
$primary: rgb(198, 61, 47);
$primary-light: rgb(255, 155, 80);
$on-primary: rgb(255, 255, 255);

$background: rgb(220, 220, 220);
$on-background: rgb(0, 0, 0);

$surface: rgb(255, 255, 255);
$on-surface: rgb(0, 0, 0);

$badge-background: rgb(235, 0, 0);
$on-badge-background: rgb(255, 255, 255);